<h1> Card Sets </h1>

<ul class="cardset">
  <%@cardsets.each do |cardset|%>
  <li class="cardset">
    <%= link_to(cardset.name, cardset_path(cardset.code))%>
  </li>
  <%end%>
</ul>

<%= link_to("Homepage", root_path)%>
